.aw {
    background-color: #ff0404;
}

.xl {
    background-color: orange;
}

.angles {
    background-color: #fff2cc;
}

.xarxes {
    background-color: #d9eaf7;
}

.mme {
    background-color: #d9ead3;
}

.tutoria {
    background-color: #eadcf8;
}

.ao {
    background-color: #fce4d6;
}

.optatiu {
    background-color: #d9d2e9;
}

.som {
    background-color: #d0e0e3;
}

.ipo1 {
    background-color: #cfe2f3;
}

.ipo2 {
    background-color: #f4cccc;
}